<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!--<add name="ConStrn" connectionString="Data Source=localhost;Initial Catalog=IPTS_Macherla;User ID=sa;Password=Admin_123" providerName="system.data.sqlclient"/>-->
    <add name="ConStrn" connectionString="Data Source=192.168.13.90;Initial Catalog=IPTS_Macherla;User ID=sa;Password=sadb@123" providerName="system.data.sqlclient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <appSettings>
    <add key="ERPServer" value="192.168.13.26"/>
    <add key="Reader_IP" value="172.31.1.95"/>
    <add key="Reader_Port" value="100"/>
    <add key="WSPortName" value="COM2"/>
    <add key="WSBaudRate" value="1200"/>
    <add key="WSParityBit" value="None"/>
    <add key="WSDataBits" value="7"/>
    <add key="WSHandShake" value="OFF"/>
    <add key="OperationMode" value="DedicatedPort"/>
    <add key="WBConnected" value="Enthernet"/>
    <!--<add key="WBConnected" value="SerialPort"/>-->
    <add key="OracleConnectionString" value="Data Source=(DESCRIPTION = (ADDRESS = (PROTOCOL = TCP)(HOST = 192.168.13.26)(PORT = 1521))(CONNECT_DATA = (SERVICE_NAME = XE)));User ID=KCPERP; Password=KCPERP;"/>
  </appSettings>
</configuration>
